<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Market_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/virtual-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Market_App.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' asp-append-version="true" />
</head>
<body>
    @{
        bool homePage = false, adminAdsPage = false, adminCategoriesPage = false, AdDetailsPage = false;

        switch (ViewBag.Page)
        {
            case "home":
                {
                    homePage = true;
                    break;
                }
            case "adminAds":
                {
                    adminAdsPage = true;
                    break;
                }
            case "adminCategories":
                {
                    adminCategoriesPage = true;
                    break;
                }
            case "adDetails":
                {
                    AdDetailsPage = true;
                    break;
                }
        }
    }

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 @(homePage ? "active" : "" )" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if(AdDetailsPage){
                        <li class="nav-item">
                            <a class="nav-link fw-bold fs-5 active" aria-current="page">Details</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 @(adminAdsPage ? "active" : "" )" aria-current="page"
                           asp-controller="AdminAds" asp-action="Index">My ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 @(adminCategoriesPage ? "active" : "" )" aria-current="page"
                           asp-controller="AdminCategories" asp-action="Index">Categories</a>
                    </li>
                </ul>
                @if (ViewBag.Page == "home")
                {
                    <form class="d-flex" role="search" method="post" asp-action="Index">
                        <input class="form-control me-2" type="search" name="AdName"
                           placeholder="Search for an ad..." aria-label="Search" required>
                        <button class="btn btn-dark border-white" type="submit">Search</button>
                    </form>
                }

            </div>
        </div>
    </nav>
    <div class="container" id="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year E Market App - Designed whit 💙 by Frainer Alexander
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/virtual-select.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        VirtualSelect.init({
            ele: '#checkboxes-select'
        });
    </script>
</body>
</html>
