@using EMarketApp.Core.Application.ViewModels.Ads
@model DetailsAdViewModel
@{
    ViewData["Title"] = "Ad Details";
}

<section class="py-2 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold text-center"> Ad Details</h1>
            <p class="fs-4 fw-bold text-secondary mt-1 text-center">
                Here you can view in more detail all the information of the selected ad.
            </p>
        </div>
    </div>
</section>

<div class="row mb-5">
    <div class="col-6 p-0 m-0">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                @if(Model.ImagePathTwo != null){<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>}
                @if(Model.ImagePathThree != null){<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>}
                @if(Model.ImagePathFour != null){<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>}
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.ImagePathOne" class="d-block w-100 detail img-carousel" alt="...">
                </div>
                @if (Model.ImagePathTwo != null)
                {
                    <div class="carousel-item">
                        <img src="@Model.ImagePathTwo" class="d-block w-100 detail img-carousel" alt="...">
                     </div>
                }
                @if (Model.ImagePathThree != null)
                {
                    <div class="carousel-item">
                        <img src="@Model.ImagePathThree" class="d-block w-100 detail img-carousel" alt="...">
                    </div>
                }
                @if (Model.ImagePathFour != null)
                {
                    <div class="carousel-item">
                        <img src="@Model.ImagePathFour" class="d-block w-100 detail img-carousel" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

   <div class="col-6 card bg-dark m-0 p-0">
        <div class="card-body text-white">
            <h2 class="card-title text-center mb-4 mt-2">@Model.Name</h2>
            <p class="card-text fw-light mb-2"><strong class="fw-bold me-2">Description: </strong> @Model.Description</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Category: </strong> @Model.Category</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Price: </strong> US$@Model.Price</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Date of publication: </strong> @Model.CreateAt</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Author: </strong> @Model.Author</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Author's email: </strong> @Model.AuthorEmail</p>
            <p class="card-text fw-light"><strong class="fw-bold me-2">Author's phone: </strong> @Model.AuthorPhone</p>
        </div>
   </div>

</div>
